{% extends "dsmr_frontend/base_new.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}
{% block header %}{% translate "Dashboard" %} &nbsp; <i class="fas fa-tachometer-alt"></i>{% endblock %}

{% block content %}
    {% if not capabilities.any %}
    <div class="alert alert-warning d-flex align-items-center mb-4" role="alert">
        <i class="fas fa-exclamation-triangle fa-2x me-3"></i>
        <div>
            {% blocktranslate %}No data found yet. Please make sure either the dsmr_datalogger process is running or you supply data using the API. The dsmr_backend process should run as well.{% endblocktranslate %}
        </div>
    </div>
    {% endif %}

    {% if capabilities.electricity %}
    <!-- Live consumption header -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <table class="table table-hover mb-0">
                <tr>
                    <th class="col-6">
                        <span>
                            <a class="help-trigger text-decoration-none" href="#"><small><i class="fas fa-question-circle"></i></small></a>
                            <small class="xhr-hidden">
                                {% blocktranslate %}Latest update received{% endblocktranslate %}
                            </small>
                        </span>
                        <span class="unit" id="latest_timestamp"><i class="fas fa-circle-notch fa-spin fa-fw"></i></span>
                    </th>
                    <th class="{% if capabilities.costs %}col-2{% else %}col-3{% endif %}">{% if capabilities.electricity %}{% translate "Consuming" %}{% endif %}</th>
                    <th class="{% if capabilities.costs %}col-2{% else %}col-3{% endif %}">{% if capabilities.electricity_returned %}{% translate "Returning" %}{% endif %}</th>
                    {% if capabilities.costs %}
                    <th class="col-2">&euro; <span class="unit">/ {% translate 'hour' %}</span></th>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <span id="tariff_name"></span> <span class="unit">{% translate "Watt" %}</span>
                    </td>
                    <td>
                        {% if capabilities.electricity %}
                            <span class="badge bg-danger" id="latest_electricity_delivered"><i class="fas fa-circle-notch fa-spin fa-fw"></i></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if capabilities.electricity_returned %}
                            <span class="badge bg-success" id="latest_electricity_returned"><i class="fas fa-circle-notch fa-spin fa-fw"></i></span>
                        {% endif %}
                    </td>
                    {% if capabilities.costs %}
                    <td>
                        {% if capabilities.electricity %}
                            <span class="xhr-hidden badge bg-dark" id="cost_per_hour"></span>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
    {% endif %}

    {% if notification_count > 0 %}
    <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
            {% translate "Unread notifications" %} &nbsp; <span class="badge bg-light text-dark">{{ notification_count }}</span>
        </div>
        <div class="card-body">
            <a class="btn btn-sm btn-primary" href="{% url 'frontend:notifications' %}">
                <i class="fas fa-external-link-alt"></i> {% translate "Go to notification overview" %}
            </a>
        </div>
    </div>
    {% endif %}

    {% if capabilities.any %}
        <!-- Today's consumption -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">
                {{ period_totals.day|date:today_date_format|capfirst }}
            </div>
            <div class="card-body p-0">
                {% if period_totals.today and capabilities.electricity %}
                <table class="table table-hover mb-0">
                    <tr>
                        <th class="col-6">
                            {% translate "Metric" %}
                        </th>
                        <th class="{% if capabilities.costs %}col-2{% else %}col-3{% endif %}">{% if capabilities.electricity %}{% translate "Consumed" %}{% endif %}</th>
                        <th class="{% if capabilities.costs %}col-2{% else %}col-3{% endif %}">{% if capabilities.electricity_returned %}{% translate "Returned" %}{% endif %}</th>
                        {% if capabilities.costs %}
                        <th class="col-2">{% translate "Costs" %} <span class="unit">&euro;</span></th>
                        {% endif %}
                    </tr>
                    {% if not frontend_settings.merge_electricity_tariffs %}
                    <tr>
                        <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_1_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity and period_totals.today.electricity1 %}<span class="badge bg-danger">{{ period_totals.today.electricity1|default:'-' }}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.today.electricity1_returned %}<span class="badge bg-success">{{ period_totals.today.electricity1_returned|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.today.electricity1_cost %}<span class="badge bg-dark">{{ period_totals.today.electricity1_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_2_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity and period_totals.today.electricity2 %}<span class="badge bg-danger">{{ period_totals.today.electricity2|default:'-' }}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.today.electricity2_returned %}<span class="badge bg-success">{{ period_totals.today.electricity2_returned|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.today.electricity2_cost %}<span class="badge bg-dark">{{ period_totals.today.electricity2_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    <tr {% if not frontend_settings.merge_electricity_tariffs %}class="table-active"{% endif %}>
                        <td>
                            {% if capabilities.electricity %}
                                {% translate "Electricity (total)" %} <span class="unit">{% translate "kWh" %}</span>
                            {% endif %}
                        </td>
                        <td>{% if capabilities.electricity and period_totals.today.electricity_merged %}<span class="badge bg-danger">{{ period_totals.today.electricity_merged|default:'-' }} </span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.today.electricity_returned_merged %}<span class="badge bg-success">{{ period_totals.today.electricity_returned_merged|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.today.electricity_cost_merged %}<span class="badge bg-dark">{{ period_totals.today.electricity_cost_merged|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>

                    {% if capabilities.gas %}
                    <tr>
                        <td>{% translate "Gas" %} <span class="unit">{% translate "m³" %}</span></td>
                        <td>{% if period_totals.today.gas %}<span class="badge bg-warning text-dark">{{ period_totals.today.gas|default:'-' }}</span>{% endif %}</td>
                        <td>&nbsp;</td>
                        {% if capabilities.costs %}
                        <td>{% if period_totals.today.gas_cost %}<span class="badge bg-dark">{{ period_totals.today.gas_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    {% if capabilities.costs and period_totals.today.fixed_cost %}
                    <tr>
                        <td colspan="3"> {% translate "Fixed costs" %}</td>
                        <td>{% if period_totals.today.fixed_cost %}<span class="badge bg-dark">{{ period_totals.today.fixed_cost|default:'-' }}</span>{% endif %}</td>
                    </tr>
                    {% endif %}

                    {% if capabilities.costs and period_totals.today.total_cost %}
                    <tr class="table-active">
                        <td colspan="3" style="font-weight: bold;">{% translate "Total costs" %}</td>
                        <td><span class="badge bg-dark">{{ period_totals.today.total_cost|default:'-' }}</span></td>
                    </tr>
                    {% endif %}
                </table>
                {% else %}
                    <div class="p-3">{% blocktranslate %}No data available (yet).{% endblocktranslate %}</div>
                {% endif %}
            </div>
        </div>

        <!-- This month's consumption -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">
                {{ period_totals.day|date:month_date_format|capfirst }}
            </div>
            <div class="card-body p-0">
                {% if period_totals.month and capabilities.electricity %}
                <table class="table table-hover mb-0">
                    <tr>
                        <th class="col-6">
                            {% translate "Metric" %}
                        </th>
                        <th class="{% if capabilities.costs %}col-2{% else %}col-3{% endif %}">{% if capabilities.electricity %}{% translate "Consumed" %}{% endif %}</th>
                        <th class="{% if capabilities.costs %}col-2{% else %}col-3{% endif %}">{% if capabilities.electricity_returned %}{% translate "Returned" %}{% endif %}</th>
                        {% if capabilities.costs %}
                        <th class="col-2">{% translate "Costs" %} <span class="unit">&euro;</span></th>
                        {% endif %}
                    </tr>
                    {% if not frontend_settings.merge_electricity_tariffs %}
                    <tr>
                        <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_1_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity and period_totals.month.electricity1 %}<span class="badge bg-danger">{{ period_totals.month.electricity1|default:'-' }}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.month.electricity1_returned %}<span class="badge bg-success">{{ period_totals.month.electricity1_returned|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.month.electricity1_cost %}<span class="badge bg-dark">{{ period_totals.month.electricity1_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_2_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity and period_totals.month.electricity2 %}<span class="badge bg-danger">{{ period_totals.month.electricity2|default:'-' }}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.month.electricity2_returned %}<span class="badge bg-success">{{ period_totals.month.electricity2_returned|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.month.electricity2_cost %}<span class="badge bg-dark">{{ period_totals.month.electricity2_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    <tr {% if not frontend_settings.merge_electricity_tariffs %}class="table-active"{% endif %}>
                        <td>
                            {% if capabilities.electricity %}
                                {% translate "Electricity (total)" %} <span class="unit">{% translate "kWh" %}</span>
                            {% endif %}
                        </td>
                        <td>{% if capabilities.electricity and period_totals.month.electricity_merged %}<span class="badge bg-danger">{{ period_totals.month.electricity_merged|default:'-' }} </span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.month.electricity_returned_merged %}<span class="badge bg-success">{{ period_totals.month.electricity_returned_merged|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.month.electricity_cost_merged %}<span class="badge bg-dark">{{ period_totals.month.electricity_cost_merged|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>

                    {% if capabilities.gas %}
                    <tr>
                        <td>{% translate "Gas" %} <span class="unit">{% translate "m³" %}</span></td>
                        <td>{% if period_totals.month.gas %}<span class="badge bg-warning text-dark">{{ period_totals.month.gas|default:'-' }}</span>{% endif %}</td>
                        <td>&nbsp;</td>
                        {% if capabilities.costs %}
                        <td>{% if period_totals.month.gas_cost %}<span class="badge bg-dark">{{ period_totals.month.gas_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    {% if capabilities.costs and period_totals.month.fixed_cost %}
                    <tr>
                        <td colspan="3"> {% translate "Fixed costs" %}</td>
                        <td>{% if period_totals.month.fixed_cost %}<span class="badge bg-dark">{{ period_totals.month.fixed_cost|default:'-' }}</span>{% endif %}</td>
                    </tr>
                    {% endif %}

                    {% if capabilities.costs and period_totals.month.total_cost %}
                    <tr class="table-active">
                        <td colspan="3" style="font-weight: bold;">{% translate "Total costs" %}</td>
                        <td><span class="badge bg-dark">{{ period_totals.month.total_cost|default:'-' }}</span></td>
                    </tr>
                    {% endif %}
                </table>
                {% else %}
                    <div class="p-3">{% blocktranslate %}No data available (yet).{% endblocktranslate %}</div>
                {% endif %}
            </div>
        </div>

        <!-- This year's consumption -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">
                {{ period_totals.day|date:year_date_format|capfirst }}
            </div>
            <div class="card-body p-0">
                {% if period_totals.year and capabilities.electricity %}
                <table class="table table-hover mb-0">
                    <tr>
                        <th class="col-6">
                            {% translate "Metric" %}
                        </th>
                        <th class="{% if capabilities.costs %}col-2{% else %}col-3{% endif %}">{% if capabilities.electricity %}{% translate "Consumed" %}{% endif %}</th>
                        <th class="{% if capabilities.costs %}col-2{% else %}col-3{% endif %}">{% if capabilities.electricity_returned %}{% translate "Returned" %}{% endif %}</th>
                        {% if capabilities.costs %}
                        <th class="col-2">{% translate "Costs" %} <span class="unit">&euro;</span></th>
                        {% endif %}
                    </tr>
                    {% if not frontend_settings.merge_electricity_tariffs %}
                    <tr>
                        <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_1_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity and period_totals.year.electricity1 %}<span class="badge bg-danger">{{ period_totals.year.electricity1|default:'-' }}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.year.electricity1_returned %}<span class="badge bg-success">{{ period_totals.year.electricity1_returned|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.year.electricity1_cost %}<span class="badge bg-dark">{{ period_totals.year.electricity1_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>{% if capabilities.electricity %}{{ frontend_settings.tariff_2_delivered_name|capfirst }} <span class="unit">{% translate "kWh" %}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity and period_totals.year.electricity2 %}<span class="badge bg-danger">{{ period_totals.year.electricity2|default:'-' }}</span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.year.electricity2_returned %}<span class="badge bg-success">{{ period_totals.year.electricity2_returned|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.year.electricity2_cost %}<span class="badge bg-dark">{{ period_totals.year.electricity2_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    <tr {% if not frontend_settings.merge_electricity_tariffs %}class="table-active"{% endif %}>
                        <td>
                            {% if capabilities.electricity %}
                                {% translate "Electricity (total)" %} <span class="unit">{% translate "kWh" %}</span>
                            {% endif %}
                        </td>
                        <td>{% if capabilities.electricity and period_totals.year.electricity_merged %}<span class="badge bg-danger">{{ period_totals.year.electricity_merged|default:'-' }} </span>{% endif %}</td>
                        <td>{% if capabilities.electricity_returned and period_totals.year.electricity_returned_merged %}<span class="badge bg-success">{{ period_totals.year.electricity_returned_merged|default:'-' }}</span>{% endif %}</td>
                        {% if capabilities.costs %}
                        <td>{% if capabilities.electricity and period_totals.year.electricity_cost_merged %}<span class="badge bg-dark">{{ period_totals.year.electricity_cost_merged|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>

                    {% if capabilities.gas %}
                    <tr>
                        <td>{% translate "Gas" %} <span class="unit">{% translate "m³" %}</span></td>
                        <td>{% if period_totals.year.gas %}<span class="badge bg-warning text-dark">{{ period_totals.year.gas|default:'-' }}</span>{% endif %}</td>
                        <td>&nbsp;</td>
                        {% if capabilities.costs %}
                        <td>{% if period_totals.year.gas_cost %}<span class="badge bg-dark">{{ period_totals.year.gas_cost|default:'-' }}</span>{% endif %}</td>
                        {% endif %}
                    </tr>
                    {% endif %}

                    {% if capabilities.costs and period_totals.year.fixed_cost %}
                    <tr>
                        <td colspan="3"> {% translate "Fixed costs" %}</td>
                        <td>{% if period_totals.year.fixed_cost %}<span class="badge bg-dark">{{ period_totals.year.fixed_cost|default:'-' }}</span>{% endif %}</td>
                    </tr>
                    {% endif %}

                    {% if capabilities.costs and period_totals.year.total_cost %}
                    <tr class="table-active">
                        <td colspan="3" style="font-weight: bold;">{% translate "Total costs" %}</td>
                        <td><span class="badge bg-dark">{{ period_totals.year.total_cost|default:'-' }}</span></td>
                    </tr>
                    {% endif %}
                </table>
                {% else %}
                    <div class="p-3">{% blocktranslate %}No data available (yet).{% endblocktranslate %}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript" src="{% static 'dsmr_frontend/js/dsmr-reader/consumption-header.js' %}?r=v{{ dsmr_version }}"></script>
    <script type="text/javascript">
        $(".help-trigger").click(function () {
            $(this).next().show();
            $(this).remove();
            return false;
        });

        const XHR_CONSUMPTION_HEADER_URL = "{% url 'frontend:xhr-consumption-header' %}";
        const GUI_REFRESH_INTERVAL = {{ frontend_settings.gui_refresh_interval }};

        $(document).ready(function(){
             console.debug('GUI refresh interval:', GUI_REFRESH_INTERVAL);

           /* This will reschedule itself again after completion. */
            update_consumption_header(GUI_REFRESH_INTERVAL * 1000);

            /* Reload entire page after 5 minutes. */
            setTimeout(function(){ location.reload(); }, 5 * 60 * 1000)
        });
    </script>
{% endblock %}
